---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Megalogic</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-7 h-7" name="uil:map-marker" />
            <span
              >Jl. Letjen S. Parman No.28 <br /> Grogol Petamburan Kota Jakarta Barat
              <br /> Daerah Khusus Ibukota Jakarta 11470</span
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-7 h-7" name="uil:envelope" /><a
              href="mailto:megalogic.id@gmail.com">megalogic.id@gmail.com</a
            >
          </div><div class="flex items-center mt-4 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-7 h-7" name="uil:phone" /><a
              href="tel:+6282125609413">+62 812-1514-6102</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
