---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Consult Via Chat",
    price: "Free",
    popular: false,
    features: [
      "Free forever",
      "Quick and easy",
      "Experienced IT Consultant",
      "Proactive Assistance",
      "Free Project Evaluation"
    ],
    button: {
      text: "Get Started",
      link: "https://api.whatsapp.com/send?phone=6282125609413&amp;text=Halo, dengan Admin Megalogic.id? Saya ingin konsultasi perihal proyek web/aplikasi saya.",
    },
  },
  {
    name: "Consult Via Video Call",
    price: "Rp150.000",
    popular: true,
    features: [
      "All Free Features",
      "Get PRD",
      "Priority Support",
      "Detailed Project Analysis",
      "Customized Action Plan",
    ],
    button: {
      text: "Get Started",
      link: "https://api.whatsapp.com/send?phone=6282125609413&amp;text=Halo, dengan Admin Megalogic.id? Saya ingin konsultasi perihal proyek web/aplikasi saya via video call.",
    },
  },
  {
    name: "Custom Project",
    price: "Special Price",
    popular: false,
    features: [
      "All Pro Features",
      "Progress Tracking",
      "Dedicated Project Manager",
      "99.99% Uptime SLA",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact Us",
      link: "https://api.whatsapp.com/send?phone=6282125609413&amp;text=Halo, dengan Admin Megalogic.id? Saya ingin dibantu membuat website / aplikasi untuk proyek saya",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
