<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} <span class="font-bold text-slate-800">Mega</span><span
    class="text-slate-500">logic</span
  >. All rights reserved.
  </p>
</footer>
