---
const portfolioItems = [
  {
    name: "SCOPPI",
    image_url: "portfolio/scoppi.png",
    url: "https://scoppi.sukabumikota.go.id",
  },
  {
    name: "Terrafarms",
    image_url: "portfolio/terrafarms.webp",
    url: "https://terrafarms.id",
  },
  {
    name: "Travens",
    image_url: "portfolio/travens-web.png",
    url: "https://travens.id",
  },
  {
    name: "Emas Estate",
    image_url: "portfolio/emas-estate.png",
    url: "https://emasestate.com",
  },
  {
    name: "Blue Sarin",
    image_url: "portfolio/blue-sarin.png",
    url: "https://bluesarin.com",
  },
  {
    name: "VAST",
    image_url: "portfolio/vast.png",
    url: "https://vastbali.com",
  },
  {
    name: "File Converter",
    image_url: "portfolio/mayar.png",
    url: "https://app.mayar.id/tools",
  },
  {
    name: "LPPOM MUI",
    image_url: "portfolio/lppom-mui.png",
    url: "https://play.google.com/store/apps/details?id=org.halalmui.app",
  },
  {
    name: "Travens Mobile",
    image_url: "portfolio/travens-mobile.png",
    url: "https://travens.id",
  },
];
---

<div class="mt-16 md:mt-0" id="portfolio">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-16">
    Explore Our Portfolio
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Check out some of our recent projects below.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 gap-16">
  {
    portfolioItems.map((item) => (
      <div class="bg-white shadow-md p-4 rounded-lg">
        <img
          src={item.image_url}
          alt={item.name}
          class="w-full h-48 object-cover rounded-lg mb-4"
        />
        <h3 class="font-semibold text-lg mb-2">{item.name}</h3>
        <a
          href={item.url}
          class="text-primary hover:underline"
          target="_blank"
          rel="noopener noreferrer">
          View Project
        </a>
      </div>
    ))
  }
</div>
